.advantages {

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;

		@media only screen and (max-width: 768px) {
			display: block;
		}
	}

	&__item {
		width: calc((99.9% - (3rem * 2)) / 3);
		margin-right: 3rem;
		margin-bottom: 5.4rem;

		@media only screen and (max-width: 768px) {
			width: 100%;
			max-width: 60rem;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		&:nth-of-type(3n) {
			margin-right: 0;

			@media only screen and (max-width: 768px) {
				margin-right: auto;
			}
		}
	}

	&__icon {
		position: relative;
		display: block;
		height: 5rem;
		margin-bottom: 2.2rem;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;

			@media only screen and (max-width: 768px) {
				left: 50%;
				transform: translateX(-50%)
			}
		}

		&_1 {

			&::before {
				width: 3.4rem;
				height: 4.4rem;
				background: url("../images/icons/advantages/1.svg") no-repeat center center;
			}
		}

		&_2 {

			&::before {
				width: 5rem;
				height: 3.4rem;
				background: url("../images/icons/advantages/2.svg") no-repeat center center;
			}
		}

		&_3 {

			&::before {
				width: 4.3rem;
				height: 4.4rem;
				background: url("../images/icons/advantages/3.svg") no-repeat center center;
			}
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 1.7rem;
		font-size: 2rem;
		font-weight: 400;
	}

	&__description {
		margin: 0;
		font-size: 1.6rem;
		line-height: 1.6;
	}
}