.btn {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 1.7rem 8rem;
	border: 1px solid transparent;
	outline: 0;
	text-align: center;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	background-color: $bgc-2;
	box-shadow: 0 0 4rem 0 rgba(45, 169, 51, 0.6);
	cursor: pointer;
	transition: 0.2s;
	letter-spacing: 1px;
	font-family: $tf-1;

	&:hover {
		box-shadow: none;
	}
	
	&:active {
		background-color: darken($bgc-2, 4%);
	}

	&_style-1 {
		color: $tc-1;
		border-color: $bgc-1;
		background-color: transparent;
		box-shadow: none;

		&:hover {
			background: $bgc-1;
			color: #fff;
			box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.6);
		}

		&:active {
			background: $bgc-1;
			color: #fff;
			box-shadow: none;
		}
	}

	&_style-2 {
		color: $tc-2;
		border-color: $bgc-2;
		background-color: transparent;
		box-shadow: none;

		&:hover {
			background: $bgc-2;
			color: #fff;
			box-shadow: 0 0 4rem 0 rgba(45, 169, 51, 0.6);
		}

		&:active {
			background: $bgc-2;
			color: #fff;
			box-shadow: none;
		}
	}

	&_fluid {
		width: 100%;
	}

	&_catalog {
		width: 100%;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	&_hide-mobile {

		@media only screen and (max-width: 1044px - 1px), only screen and (max-height: 660px - 1px) {
			display: none;
		}
	}
}