.header {
	margin-bottom: 5.7rem;
	color: #fff;

	&__row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-top: 2.3rem;
		padding-bottom: 2.3rem;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}

	&__col-l {
		width: 18rem;

		@media only screen and (max-width: 1044px) {
			width: 50%;
		}

		@media only screen and (max-width: 500px) {
			width: 100%;
			margin-bottom: 2rem;
			text-align: center;
		}
	}

	&__col-c {
		width: 26.6rem;
		text-align: right;

		@media only screen and (max-width: 1044px) {
			width: 50%;
		}

		@media only screen and (max-width: 500px) {
			width: 100%;
			text-align: center;
		}
	}

	&__col-r {
		width: calc(99.9% - 18rem - 26.6rem);

		@media only screen and (max-width: 1044px) {
			display: none;
		}
	}
}

.logo-header {

	&__link {
		display: inline-block;
		vertical-align: top;
		width: 16.2rem;
		height: 3.5rem;
	}

	&__image {
		display: inline-block;
		vertical-align: top;
		max-width: 100%;
	}
}

.partner-header {

	&__description {
		display: inline-block;
		vertical-align: middle;
		margin-right: 2rem;
		text-align: right;
		width: 17rem;
		line-height: 1.4;
	}

	&__image {
		display: inline-block;
		vertical-align: middle;
		max-width: 6.4rem;
		box-shadow: 0 0 4rem 0 rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}