.introduction {
	margin-bottom: 5rem;
	text-align: center;

	&__title {
		margin: 0;
		margin-bottom: 2rem;
		font-size: 3.8rem;
		font-weight: 400;

		@media only screen and (max-width: 768px) {
			font-size: 3rem;
		}
	}

	&__description {
		margin: 0;
		font-size: 1.8rem;
		line-height: 1.8;

		@media only screen and (max-width: 768px) {
			font-size: 1.7rem;
		}
	}
}