.nav {

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		text-align: right;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		margin-right: 2.4rem;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__link {
		display: block;
		padding-bottom: 0.5rem;
		font-size: 1.6rem;
		color: #fff;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		transition: 0.2s;

		&:hover {
			border-bottom-color: rgba(255, 255, 255, 0.4);
		}
	}
}