.pagination {

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		text-align: center;
	}
	
	&__item {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 2rem;

		&.active {
			
			& .pagination__link {

				&::before {
					opacity: 1;
				}
			}
		}

		&_dots {

			& .pagination__link {

				&:hover {

					&::before {
						opacity: 0;
					}
				}
			}
		}
	}
	
	&__link {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 0 1.4rem 1.3rem;
		font-size: 2.2rem;
		color: #6e6e6e;
		text-decoration: none;
		border-bottom: 1px solid #ccc;
		transition: 0.2s;

		&::before {
			opacity: 0;
			content: "";
			position: absolute;
			z-index: 1;
			left: 0;
			bottom: -1px;
			width: 100%;
			height: 2px;
			background-color: $bgc-2;
			transition: 0.2s;
		}

		&:hover {

			&::before {
				opacity: 1;
			}
		}
	}
}