.pop-up {
	display: none;
	position: absolute;
	z-index: 1010;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 71rem;

	&_order {
		max-width: 48rem;

		& .form__agreement {
			max-width: 30rem;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__insides {
		padding: 2.6rem 6rem 2.5rem;
		background-color: #fff;

		@media only screen and (max-width: 500px) {
			padding-left: 3rem;
			padding-right: 3rem;
		}

		&_thanks {

			& .pop-up__title {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		display: block;
		margin-bottom: 2rem;
		font-size: 2.82rem;
		font-weight: 400;
		text-align: center;
	}

	&__close {
		position: absolute;
		top: 2rem;
		right: 2rem;
		width: 2rem;
		height: 2rem;
		font-size: 0;
		background: url("../images/icons/other/close-black-1.svg") no-repeat center center;
		opacity: 0.4;

		@media only screen and (max-width: 500px) {
			top: 1.4rem;
			right: 1.4rem;
			width: 1.8rem;
			height: 1.8rem;
		}
	}
}