.primary {
	padding-bottom: 7.5rem;
	color: #fff;
	background: #201b18 url("../images/background-1.jpg") no-repeat center center;

	&__title {
		margin: 0;
		margin-bottom: 3.3rem;
		font-size: 4.4rem;
		font-weight: 400;
		text-align: center;

		@media only screen and (max-width: 768px) {
			font-size: 3.4rem;
		}
	}

	&__description {

		& p {
			margin: 0;
			margin-bottom: 3.3rem;
			font-size: 2.4rem;
			font-weight: 300;
			line-height: 1.6;
			text-align: center;

			@media only screen and (max-width: 768px) {
				font-size: 2rem;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		& a {
			padding-bottom: 0.5rem;
			text-decoration: none;
			border-bottom: 1px solid rgba(45, 169, 51, 0.4);
			transition: 0.2s;

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}
}