/* Box-sizing */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
/* Box-sizing-END */



/* Clearfix */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}
/* Clearfix-END */



/* Disable Android Font Boosting */
p, h1, h2, h3, h4, h5, h6, ol, ul, span {
	max-height: 90000px;
}
/* Disable Android Font Boosting-END */



/* Browsehappy */
.browsehappy {
	margin: 0;
	padding: 10px;
	text-align: center;
	background-color: #fff;
	font-family: inherit;
}
/* Browsehappy-END */



/* Null properties */
textarea,
input[type="search"],
input[type="tel"],
input[type="email"],
input[type="text"],
input[type="button"],
input[type="submit"]{
	-webkit-appearance: none;
}
/* Null properties-END */



/* Hide */
.hide {
	display: none;
}
/* Hide-END */



/* Show */
.show {
	display: block;
}
/* Show-END */



/* Overlay */
.overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1000;
	cursor: pointer;
}
/* Overlay-END */



/* Align */
.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}
/* Align-END */
